dagster==1.13.2
dagster-webserver==1.13.2
dagster-postgres==0.29.2
dagster-docker==0.29.2
beautifulsoup4==4.14.3
minio==7.2.20
requests==2.33.1
chromadb==1.5.8
nebula3-python==3.8.3
sentence-transformers==5.4.1
PyMuPDF==1.27.2.3
pydantic-settings==2.14.0
